# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
#  Often these are too big for GitHub
build/
dist/
*.spec

# PDF & Data (Local projects - keep ignored)
project_state.json
crops/

# Allow Tracking of Configuration and Core Test Assets
!config.json
!test_data_gen/*.pdf
!test_data_gen/*.xlsx

# IDEs
.vscode/
.idea/
*.swp
*.swo
